#advantage {
  @include breakpoint($breakpoint-tablet) {
    margin-top: 0;
  }

  margin-top: 200px;

  .curve {
    @include breakpoint($breakpoint-laptop--medium) {
      right: -260px;
    }

    @include breakpoint($breakpoint-laptop) {
      top: -250px;
      right: -250px;
      width: 700px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      display: none;
    }

    position: absolute;
    top: -260px;
    right: -175px;
  }
}

.advantage {
  &__item {
    display: flex;
    flex-direction: column;

    text-align: center;
  }

  &__digit,
  &__info {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 10px;
    }

    margin-bottom: 20px;
    font-weight: $weight-Bold;
  }

  &__info,
  &__description {
    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--big;
    }

    font-size: $font-size__text--big;
  }

  &__digit,
  &__description {
    color: $color-text__gray;
  }

  &__digit {
    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__title--large - 10px;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__title--medium - 18px;
      line-height: 1.5;
    }

    font-size: $font-size__title--large - 8px;
    line-height: 1;
  }

  &__info {
    font-size: $font-size__text--big;
    text-transform: uppercase;
  }

  &__description {
    @include breakpoint($breakpoint-mobile--large) {
      br {
        display: none;
      }
    }
  }
}
