/* purgecss start ignore */

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: $scrollbar__bg;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar__contoller;
  }

  &--background {
    &::-webkit-scrollbar-track {
      background: $palette-white--pale;
    }
  }
}

/* purgecss end ignore */
