// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  @include breakpoint($breakpoint-tablet--large) {
    padding: 0 24px;
  }

  @include breakpoint($breakpoint-tablet) {
    padding: 0 16px;
  }

  position: sticky;
  z-index: $z-index-header;
  top: 0;

  width: 100%;
  padding: 0 45px;

  background-color: $palette-white;
}

.header {
  &__wrapper {
    @include breakpoint($breakpoint-tablet--large) {
      padding: 24px 0;
    }

    @include breakpoint($breakpoint-tablet) {
      padding: 18px 0;
    }

    display: flex;
    align-items: center;

    padding: 18px 0;
  }

  &__logo {
    @include breakpoint($breakpoint-tablet) {
      opacity: 0;
      visibility: hidden;
    }

    transition: $transition ease;

    &--visible {
      opacity: 1 !important;
      visibility: visible !important;
    }
  }

  &__nav {
    @include breakpoint($breakpoint-laptop) {
      margin-left: 60px;
    }

    margin-left: 120px;
  }
}
