.modal-success {
  .modal__container {
    @include breakpoint($breakpoint-tablet) {
      padding: 25px;
    }

    max-width: 480px;
    padding: 25px 40px;
  }

  .modal__header {
    margin-bottom: 10px;
  }
}
