// -----------------------------------------------------------------------------
// В этом файле содержатся дополнительные или общие классы
// -----------------------------------------------------------------------------

.disable-scroll {
  overflow: hidden;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}