.form-callback {
  .form__content {
    @include breakpoint($breakpoint-tablet--large) {
      width: 100%;
    }

    width: 80%;
  }

  .form__input {
    margin-bottom: 70px;
  }

  .input {
    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }

  .button {
    width: 100%;
  }
}
