// Цветовая палитра блоков
$palette-white: #ffffff;
$palette-white--pale: #f0eeee;
$palette-black: #2d3343;
$palette-cyan: #009d92;

// Цветовая палитра текста
$color-text__primary: #000000;
$color-text__black: #000000;
$color-text__gray: #757575;
$color-text__gray--light: #8d8d8d;
$color-text__white: #ffffff;
$color-text__cyan: #009d92;
