.logo {
  transition: $transition ease;

  @media (hover: hover) {
    &:hover {
      opacity: 0.6;
    }
  }

  &--header {
    @include breakpoint($breakpoint-tablet--large) {
      width: 120px;
    }

    @include breakpoint($breakpoint-tablet) {
      width: 100px;
    }

    width: 140px;
  }

  &--hero {
    @include breakpoint($breakpoint-tablet) {
      width: 320px;
    }

    width: 560px;
    opacity: 1 !important;
  }
}
