.button {
  @include breakpoint($breakpoint-tablet) {
    min-width: initial;
    padding: 20px 36px;
  }

  display: inline-block;
  min-width: 380px;

  padding: 24px 60px;

  border: 2px solid transparent;
  border-radius: $border-radius--button;
  outline: none;

  background-color: transparent;

  font-weight: $weight-Bold;

  text-align: center;
  text-transform: uppercase;

  white-space: nowrap;
  cursor: pointer;

  transition: all $transition ease;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--small {
    min-width: initial;
    padding: 12px 40px;
  }

  &--icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .icon {
      margin-left: 30px;
    }
  }
}
